@import "tailwindcss";

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tickr {
  animation: infinite-scroll 45s linear infinite;
}
